append variables
  -
    var items= [
      {
        image:'dubai.png',
        country:'Dubai',
        description:'Dubai Tourism, a hub of futuristic charm that reflects the beauty of nightlife, skyscrapers and extravagant lifestyle. Apart from this, it is also an essential destination for practising a number of adventure sports.',
      },
      {
        image:'cinnamon.png',
        country:'Maldives',
        description:'Maldives Tourism, a hub of futuristic charm that reflects the beauty of nightlife, skyscrapers and extravagant lifestyle. Apart from this, it is also an essential destination for practising a number of adventure sports.',
      },
      {
        image:'dhigu.png',
        country:'Maldives',
        description:'Maldives Tourism, a hub of futuristic charm that reflects the beauty of nightlife, skyscrapers and extravagant lifestyle. Apart from this, it is also an essential destination for practising a number of adventure sports.',
      },
      {
        image:'dubai.png',
        country:'Dubai',
        description:'Dubai Tourism, a hub of futuristic charm that reflects the beauty of nightlife, skyscrapers and extravagant lifestyle. Apart from this, it is also an essential destination for practising a number of adventure sports.',
      },

    ];


mixin Share(config)
  .col-12
    img.w-100(src=`${CWD}assets/img/gallery/${config.image}` height='600'  alt='...')
    .py-4.ps-sm-5
      h4.mb-2.text-1000 Share a trip
      h2.mb-3.text-primary.fs-3.fs-md-6=config.country
      p.fw-normal.mb-0=config.description

mixin ShareTrip 
  section.py-0.my-7
    +Background({ image: `${CWD}assets/img/gallery/sharee.png`, attrs: { style: {'background-position':'top'} }, className: 'w-50 bg-left  d-none d-lg-block' })
    .container
      .row.g-0
        .col-lg-4.order-1.order-lg-0 
        .col-lg-8.bg-white
          #carouselShare.carousel.slide(data-bs-ride='carousel')
            .carousel-inner
              .carousel-item.active(data-bs-interval='10000')
                .row.h-100
                  +Share(items[0])       
              .carousel-item(data-bs-interval='2000')
                .row.h-100
                  +Share(items[1])
              .carousel-item(data-bs-interval='1000')
                .row.h-100
                  +Share(items[2])
              .carousel-item
                .row.h-100
                  +Share(items[3])    
            .row.ps-sm-5.align-items-center
              .col-4.col-sm-6.position-relative.z-index-2
                ol.carousel-indicators.me-xxl-7.me-xl-4.me-lg-7
                  li.active(data-bs-target='#carouselShare' data-bs-slide-to='0')
                  li(data-bs-target='#carouselShare' data-bs-slide-to='1')
                  li(data-bs-target='#carouselShare' data-bs-slide-to='2')
                  li(data-bs-target='#carouselShare' data-bs-slide-to='3')
              .col-8.col-sm-6.position-relative.z-index-2.text-end
                a.btn.btn-lg.text-secondary(href='#' role='button') Read More
                  svg.bi.bi-arrow-right.ms-2(xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='currentColor' viewBox='0 0 16 16')
                    path(fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z')